.ListToken_container {

    position: absolute;
    width: inherit; 
  
}

.ListToken{
    position: relative;
    float: right;
    margin-top: 2rem;
    background-color: #1e1e1e;
    padding: 1rem;
    z-index: 1111111111;
    width: 20rem;
    border-radius: 0.5rem;
}

.ListToken_title{
    font-size: .8rem;
    font-weight: 900;
    line-height: 0;
    color: inherit;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.2rem 1rem;
}

.ListToken_close{
    position: absolute;
    top: -2rem;
    z-index: 1111111111;
    right: -1rem;
    cursor: pointer;
}

.ListToken_box{
    position: relative;   
    border-bottom: 1px solid #604242;
    cursor: pointer;
}

.ListToken_box_info{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 1rem;
}

.ListToken_box_info p span{
    color: #76f382;
    font-weight: 901;
    margin-right: 0.5rem;
}

.ListToken_box_info_symbol{
    color: #1e1e1e;
    background-color: #76f382;
    border-radius: 0.5rem;
    font-weight: 700;
    padding: 0.5rem;
}

@media only screen and (max-width: 40em) {
    .ListToken{   
        width: 100%;
        margin-left: -0rem;
    }
    .ListToken_close{
        right: 1px;
    }
}