.Swap{
    text-align: center;
}
.Swap_change_wrap{
    position: relative;
    width: 75px;
    display: inline-block;
    text-align: left;
    top: 8px
}
.Swap_checkbox{
    display: none;

}
.Swap_label{
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0px solid wheat;
    border-radius: 20px;
}
.Swap_inner{
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.Swap_inner:before,
.Swap_inner:after{
    float: left;
    width: 50%;
    height: 36px;
    padding: 0;
    line-height: 36px;
    color: red;
    font-weight: bold;
    box-sizing: border-box;
}
.Swap_inner:before{
    content: "Yes";
    padding-left: 10px;
    background-color: #76f382;
    color: #1e1e1e;
}
.Swap_inner:after{
    content: "No";
    padding-right: 10px;
    background-color: #76f382;
    color: #1e1e1e;
    text-align: right;
}
.Swap_change{
    display: block;
    width: 24px;
    margin: 5px;
    background-color: #e9f063;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid wheat;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.Swap_checkbox:checked+ .Swap_label .Swap_inner{
    margin-left:0 ;}
.Swap_checkbox:checked+ .Swap_label .Swap_change{
    right:0 ;}