    
.NavigationBar{
    width: 99%;
    margin:  2rem auto;
    margin-top: 0;
}


.NavigationBar_wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: aqua;
    justify-content: space-between;   
    gap: 1rem;
    align-items: center;
}

.NavigationBar_wrap_left{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.NavigationBar_wrap_left_menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.NavigationBar_wrap_left_menu div:hover{
    border-radius: 1px solid; 
    color: rgb(0, 13, 2) !important;
}

.NavigationBar_wrap_left_menu_item{
    font-size: 1.2rem;
    color: rgb(0, 13, 2) !important;
}


.NavigationBar_wrap_middle{
    background-color: #1e1e1e;
    width: 80%;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
}
.NavigationBar_wrap_middle_search{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 2rem;
}

.NavigationBar_wrap_middle input{
    color: #76f382;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
}

.NavigationBar_wrap_right{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.NavigationBar_wrap_right_wrap{
    display: flex;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    background-color: #1e1e1e;
    align-items: center;
    gap: 1rem;
    text-transform: capitalize;
}

.NavigationBar_wrap_right_wrap p{   
    color:#76f382;
    font-size: 1.2rem;
    line-height: 0;
}

.NavigationBar_wrap_right button{
    border: none;
    outline: none;
    background-color: #1e1e1e;
    color: #76f382;
    border-radius: .5rem;
    padding: 1.2rem 1.5rem;  
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

/*
RESPONSIVE 
*/

@media only screen and (max-width: 40em) {
    .NavigationBar{
        width: 90%;
    }
    .NavigationBar_wrap{
        grid-template-columns: .5fr 1fr;
    }

    .NavigationBar_wrap_middle{
        display: none;
    }
    .NavigationBar_wrap_left_menu{
        display: none;
    }

    .NavigationBar_wrap_right_wrap{
        display: none;
    }
}